p{
  color: purple;
  font-size: 16pt;
}
  
ul{
  color: pink;
  font-weight: bold;
}

ol{
  color: pink;
  font-size: 32pt;
}

h1{
  color: pink;
  font-size: 18pt;
}

header{
  font-size: 40pt;
  color: purple;
}

body{
  color: pink;
  font-size: 18pt;
}

footer{
  color: purple;
  font-size: 20pt;
}
